/* styles/footer.css */
.footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 0;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 10px;
}

.footer ul li a {
    color: var(--background-color);
    text-decoration: none;
}