/* styles/servicos.css */
.servicos {
    background-color: var(--background-color);
}

.services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}